.cases {
	// display: none;
	background: linear-gradient(60.65deg, #45108A 12.91%, #3D065F 33.65%, #10054D 87.44%);
	overflow: hidden;
}

.cases-card {
	background-color: #FCFCFC;
	border-radius: 5rem;
	color: #5A5561;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 4.444444444444445rem;
	padding: 3.3333333333333335rem 4.388888888888889rem 3.3333333333333335rem 5.555555555555555rem ; //60 79 60 100 
	margin-bottom: 2.2222222222222223rem;

	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		row-gap: 1.2777777777777777rem;
		padding: 1.9444444444444444rem 0.8333333333333334rem;
		border-radius: 2.2222222222222223rem;
		margin-bottom: 1.1111111111111112rem;
	}
}
.cases-card:last-child {
	margin-bottom: 0;
}
.cases-card:nth-of-type(even) .cases-card__media {
	@media (min-width: $tablet+1) {
		order: -1;
	}
}

.cases__title {
	@media (max-width: $tablet) {
		font-size: 1.1111111111111112rem;
	}
}
.cases__title .section-text--center {
	display: block;
}

.cases__desc {
	font-weight: 300;
	font-size: 1rem;
	line-height: 135%;
	max-width: 26.055555555555557rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.2222222222222223rem;
	@media (max-width: $tablet) {
		font-size: 0.8333333333333334rem;
	}
}

.cases__gallery {
	margin-bottom: 3.3333333333333335rem; //60
	@media (max-width: $tablet) {
		margin-bottom: 1.3888888888888888rem; //25
	}
}

.cases-card__title {
	font-size: 2.2222222222222223rem;//40
	line-height: 135%;
	margin-bottom: 1.1111111111111112rem;
	@media (max-width: $tablet) {
		font-size: 1rem;
		margin-bottom: 0.6666666666666666em;
	}
}

.cases-card__bullets {
	--color: #5A5561;
	margin-bottom: 2.0714285714285716rem;
	@media (max-width: $tablet) {
		margin-bottom: 0.9rem;
		
	}
}
.cases-card__bullets li:before {
	background-color: #35B4EF;
	--color: #35B4EF;
}

.cases-card__subtitle {
	font-weight: 700;
	font-size: 1rem;
	line-height: 135%;
	margin-bottom: 1em;
	@media (max-width: $tablet) {
		margin-bottom: 0.6666666666666666rem;
	}
}

.cases-card__pic {
	background: #FFFFFF;
	border-radius: 2.2222222222222223rem;
	padding: 0.5rem;
	height: 100%;
	@media (max-width: $tablet) {
		padding: 0.2222222222222222rem;
	}
}
.cases-card__img {
	border-radius: 2.2222222222222223rem;
	height: 100%;
	display: block;
	object-fit: cover;
}
