.cases {
	// display: none;
	background: linear-gradient(60.65deg, #45108A 12.91%, #3D065F 33.65%, #10054D 87.44%);
	overflow: hidden;
}

.cases-card {
	background-color: #FCFCFC;
	border-radius: 5rem;
	color: #5A5561;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 4.444444444444445rem;
	padding: 3.3333333333333335rem 4.388888888888889rem 3.3333333333333335rem 5.555555555555555rem ; //60 79 60 100 
	margin-bottom: 2.2222222222222223rem;

	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		row-gap: 1.2777777777777777rem;
		padding: 1.9444444444444444rem 0.8333333333333334rem;
		border-radius: 2.2222222222222223rem;
		margin-bottom: 1.1111111111111112rem;
	}
}
.cases-card:last-child {
	margin-bottom: 0;
}
.cases-card:nth-of-type(even) .cases-card__media {
	@media (min-width: $tablet+1) {
		order: -1;
	}
}

.cases__title {
	@media (max-width: $tablet) {
		font-size: 1.1111111111111112rem;
	}
}
.cases__title .section-text--center {
	display: block;
}

.cases__desc {
	font-weight: 300;
	font-size: 1rem;
	line-height: 135%;
	max-width: 26.055555555555557rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2.2222222222222223rem;
	@media (max-width: $tablet) {
		font-size: 0.8333333333333334rem;
	}
}

.cases__gallery {
	margin-bottom: 3.3333333333333335rem; //60
	@media (max-width: $tablet) {
		margin-bottom: 1.3888888888888888rem; //25
	}
}

.cases-card__title {
	font-size: 2.2222222222222223rem;//40
	line-height: 135%;
	margin-bottom: 1.1111111111111112rem;
	@media (max-width: $tablet) {
		font-size: 1rem;
		margin-bottom: 0.6666666666666666em;
	}
}

.cases-card__bullets {
	--color: #5A5561;
	margin-bottom: 2.0714285714285716rem;
	@media (max-width: $tablet) {
		margin-bottom: 0.9rem;
		
	}
}
.cases-card__bullets li:before {
	background-color: #35B4EF;
	--color: #35B4EF;
}

.cases-card__subtitle {
	font-weight: 700;
	font-size: 1rem;
	line-height: 135%;
	margin-bottom: 1em;
	@media (max-width: $tablet) {
		margin-bottom: 0.6666666666666666rem;
	}
}

.cases-card__pic {
	background: #FFFFFF;
	border-radius: 2.2222222222222223rem;
	padding: 0.5rem;
	height: 100%;
	@media (max-width: $tablet) {
		padding: 0.2222222222222222rem;
	}
}
.cases-card__img {
	border-radius: 2.2222222222222223rem;
	height: 100%;
	display: block;
	object-fit: cover;
}

.modal-case {
	max-width: 65rem;
}
.modal-case__section {
	padding: 3.3333333333333335rem 3.611111111111111rem;
	margin-bottom: 2rem;
	border-radius: 5rem;
	background-color: var(--bg-element);
	color: var(--c-text-dark);
	@media (max-width: $tablet) {
		padding: 2.5925925925925926rem 1.7777777777777777rem 2.59rem 0.9rem;
		border-radius: 2.962962962962963rem;
	}
}
.modal-case__title.section-title {
	font-size: 2.2222222222222223rem;
	@media (max-width: $tablet) {
		font-size: 1.1851851851851851rem;
	}
}
.modal-case__title {
	margin-bottom: 0.7777777777777778rem;
	font-weight: 700;
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	text-transform: initial;
	color: #333;
	@media (max-width: $tablet) {
		text-align: left;
		margin-bottom: 0.5em;
	}
}
.modal-case__subtitle {
	max-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $tablet) {
		text-align: left;
	}
}
.modal-case-comparer {
	padding-top: 2.7777777777777777rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3.888888888888889rem;
	row-gap: 2.4444444444444446rem;
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;		
		padding-top: 1.5rem;
		row-gap: 1.4814814814814814rem;
	}
}
.modal-case-comparer--vertical {
	grid-template-columns: 1fr;
}
@media (max-width: $tablet) {
	.modal-case-comparer--vertical .modal-case-comparer-card{
		width: 100%;
    overflow: hidden;		
	}
	.modal-case-comparer--vertical .modal-case-comparer-card__media {
    overflow-x: auto;
    width: 100%;
    @include scrollermask;
	}
	.modal-case-comparer--vertical .modal-case-comparer-card__pic {
		height: 5rem;
    width: 100%;
    margin-left: 1rem;
	}
	.modal-case-comparer--vertical .modal-case-comparer-card__img {
		width: initial;
	}
}

.modal-case-comparer-card__title {
	color: #333;
	font-size: 1.1111111111111112rem;
	margin-bottom: 0.8888888888888888rem;
	font-weight: 700;
	@media (max-width: $tablet) {
		text-align: left;
	}
}
.modal-case-comparer-card__ul,
.modal-case-comparer-card__ol {
	color: var(--c-text-dark);
  font-size: 0.8888888888888888rem; //16 1920×1000
  @media (max-width: $tablet) {
  	// font-size: 1.1111111111111112rem;
  	font-size: 1.131111rem;
  }
}
.modal-case-comparer-card__ul li:before,
.modal-case-comparer-card__ol li:before {
	background-color: #35B4EF;
}
.modal-case-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-top: 2rem;
	grid-gap: 1.3888888888888888rem;
	@media (max-width: $tablet) {
		grid-template-columns: repeat(1, 1fr);
	}
}