.person {
	@media (max-width: $desktop-m) {
		padding-bottom: 5.55rem;
	}
	@media (max-width: $tablet) {
		padding-top: 2.55rem;
		overflow: hidden;
	}
}
.person:nth-of-type(odd) {
	background: radial-gradient(35.44% 163.09% at 75% 54.64%, #CFCFFE 0%, #8484E0 100%);
}
.person:nth-of-type(odd) .person__container {
	display: grid;
	grid-template-columns: 23.72222222222222rem auto;//427px auto;
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
	}
}
.person:nth-of-type(odd) .person__pic {
	margin-top: -8.4rem;
	margin-bottom: -5.6rem;
	width: 97.2%;
	@media (max-width: $tablet) {
		margin-top: 0.3em;
		margin-bottom: -5.6rem;
		width: 145.2%;
		margin-left: -5.3rem;
	}
}

.person:nth-of-type(even) {
	background: radial-gradient(20.73% 95.41% at 25.49% 52.12%, #6FB6DD 0%, #4B89D2 100%);
}
.person:nth-of-type(even) .person__container {
	display: grid;
	grid-template-columns: auto 27.88888888888889rem;//auto 502px;
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
	}
}
.person:nth-of-type(even) .person__about {
	order: 1;
	@media (max-width: $tablet) {
		order: initial;
	}
}
.person:nth-of-type(even) .person__pic {
	margin-top: -9rem;
	margin-left: -6.7rem;
	width: 109.7%;
	margin-bottom: -5.55rem;
	@media (max-width: $tablet) {
		margin-top: -0.4rem;
		margin-left: -4.2rem;
		width: 141.7%;
		margin-bottom: -5.55rem;
	}
}

.person__title {
	font-weight: 400;
	font-size: 1rem;
	line-height: 145%;
	margin-bottom: 1.1666666666666667em;
  letter-spacing: -0.03em;
  @media (max-width: $tablet) {
		margin-bottom: 0.2666666666666667em;
  }
}
.person__name {
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 110%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 0.5777777777777777em;
	@media (max-width: $tablet) {
		font-size: 1.6666666666666667rem;
		margin-bottom: 0.6666666666666667em;
	}
}

