.rules {
	background: radial-gradient(50% 50% at 50% 50%, #5C52EE 0%, #5148D1 100%);
	padding-bottom: 5.9rem;
	@media (max-width: $tablet) {
		padding-bottom: 4.35rem;
		overflow: hidden;
	}
}
.rules__title {
	@media (max-width: $tablet) {
		letter-spacing: 0;
		margin-bottom: 5.5em;
	}
}
.rules__title br {
	@media (max-width: $tablet) {
		display: none;
	}
}
.rules__gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 11rem;
	column-gap: 5rem;
	align-content: start;
	align-items: start;
	@media (max-width: $tablet) {
		grid-template-columns: 1fr;
		row-gap: 5.2rem
	}
}

.rules-card {
	position: relative;
	max-width: 18.333333333333332rem;//330px;
	@media (max-width: $tablet) {
		max-width: 17.333rem;
	}
}
.rules-card:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 2;
	border-radius: 1.3888888888888888rem;
	background: #6E66DF;
	@media (max-width: $tablet) {
		border-radius: 1.2727266666666668rem;
	}
}
.rules-card__inner {
	position: relative;
	z-index: 3;
	max-width: 100%;
	width: 100%;
	padding-left: 1.3333333333333333rem;
	padding-right: 0.7888888888888888rem;
	padding-bottom: 1.2777777777777777rem;
	@media (max-width: $tablet) {
		padding-left: 1.033rem;
		padding-bottom: 1.378rem;
	}
}
.rules-card:nth-of-type(1) .rules-card__connector {
	position: absolute;
	z-index: 1;
	bottom: -2.8rem;
	right: -6.4rem;
	display: block;
	width: 11.11111111111111rem;//200px;
	height: 11.11111111111111rem;//200px;
	background-image: url("../img/rules/rules-connector-1.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: rotate(-80deg) scaleY(1.2);
	@media (max-width: $tablet) {
		bottom: -7.8rem;
		right: -2.7rem;
		width: 12.111rem;
		height: 13.111rem;
		transform: none;
	}
}
.rules-card:nth-of-type(2) {
	top: 11.2rem;
	@media (max-width: $tablet) {
		top: 0;
		left: 0;
		justify-self: end;
	}
}
.rules-card:nth-of-type(2) .rules-card__inner {
	padding-bottom: 2.2222222222222223rem;
	@media (max-width: $tablet) {
		padding-bottom: 1.422rem;
		padding-right: 0.633rem;
	}
}
.rules-card:nth-of-type(2) .rules-card__pic {
	@media (max-width: $tablet) {
		top: 1.5rem;
		width: 80%;
		height: 80%;
	}
}
.rules-card:nth-of-type(2) .rules-card__connector {
	position: absolute;
	z-index: 1;
	top: -1rem;
	right: -8rem;
	display: block;
	width: 11.11111111111111rem;//200px;
	height: 11.11111111111111rem;//200px;
	background-image: url("../img/rules/rules-connector-2.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: rotate(-120deg) scaleY(1.2);
	@media (max-width: $tablet) {
		transform: none;
		top: unset;
		right: unset;//3rem;
		left: -4.5rem;
		width: 13.111rem;
		height: 13.111rem;
	  bottom: -9.9rem;
	}
	@media (max-width: $w-mobile) {
		left: 0.5rem;
	}
	@media (max-width: $mobile-l) {
		left: -4.5rem;
	}
}
.rules-card:nth-of-type(3) {
	top: 1.4rem;
	@media (max-width: $tablet) {
		top: 1rem;
		left: 0;
	}
}
.rules-card:nth-of-type(3) .rules-card__inner {
	padding-bottom: 2.611111111111111rem;
	@media (max-width: $tablet) {
		padding-bottom: 1.311rem;
		padding-right: 0.3rem;
	}
}
.rules-card:nth-of-type(3) .rules-card__connector {
	position: absolute;
	z-index: 1;
	bottom: -12.9rem;
	left: -10.5rem;
	display: block;
	width: 18.333333333333332rem;//330px;
	height: 18.333333333333332rem;//330px;
	background-image: url("../img/rules/rules-connector-3.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
  transform: scale(-1, 1);
  @media (max-width: $tablet) {
  	transform: none;
  	width: 12.333rem;
		height: 12.333rem;
		bottom: -11.7rem;
		left: 8rem;
  }
	@media (max-width: $w-mobile) {
		left: 12rem;
	}
  @media (max-width: $mobile-l) {
		left: 5rem;
  }
  @media (max-width: $mobile-s) {
		left: 0rem;
  }
}
.rules-card:nth-of-type(4) {
	top: 0.8rem;
	left: 8.5rem;
	order: 5;
	@media (max-width: $tablet) {
		top: 1rem;
		left: 0;
		order: initial;
		justify-self: end;
	}
}
.rules-card:nth-of-type(4) .rules-card__inner {
	padding-bottom: 1.211111111111111rem;
}
.rules-card:nth-of-type(4) .rules-card__connector {
	position: absolute;
	z-index: 1;
	top: 2.5rem;
	left: -11rem;
	display: block;
	width: 11.11111111111111rem;//200px;
	height: 11.11111111111111rem;//200px;
	background-image: url("../img/rules/rules-connector-4.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: rotate(69deg);
	@media (max-width: $tablet) {
		transform: none;
		top: unset;
		bottom: -8rem;
		width: 13.111rem;
		height: 13.111rem;
	}
	@media (max-width: $w-mobile) {
		left: -5rem;
	}
	@media (max-width: $mobile-s) {
		left: unset;
		right: 0rem;
	}
}
.rules-card:nth-of-type(5) {
	left: 4.8rem;
	@media (max-width: $tablet) {
		top: 1rem;
		left: 0;
	}
}
.rules-card:nth-of-type(5) .rules-card__inner {
	padding-bottom: 3.3rem;
	@media (max-width: $tablet) {
		padding-bottom: 1.3rem;
	}
}

.rules-card__media {
	position: relative;
	width: 8.88888888888889rem;//160px;
	height: 8.333333333333334rem;//150px;
	margin-top: -31%;
	margin-bottom: 1.0555555555555556rem;
	margin-left: -1.2rem;
	@media (max-width: $tablet) {
	  margin-top: -33.4%;
	  margin-left: -1.5rem;
	  margin-bottom: 0.756rem;
	}
}
.rules-card__media:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	background: linear-gradient(0deg, #7269FF, #7269FF), linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	width: 6.666666666666667rem;//120px;
	height: 6.666666666666667rem;//120px;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: $tablet) {
		width: 6.067rem;
		height: 6.067rem;
	}
}
.rules-card__pic {
	position: relative;
	z-index: 2;
}
.rules-card__title {
	margin-bottom: 0.4444444444444444em;
	font-weight: 700;
	letter-spacing: -0.03em;
	@media (max-width: $tablet) {
		max-width: 70%;
	}
}
.rules-card__desc {
	font-weight: 300;
	margin-bottom: 1em;
	line-height: 1.29;
	letter-spacing: -0.01em;
	@media (max-width: $tablet) {
		margin-bottom: 0.9em;
		line-height: 1.25;
	}
}
.rules-card__desc + ul.rules-card__desc,
.rules-card__desc + ol.rules-card__desc {
	margin-top: -0.8em;
	@media (max-width: $tablet) {
		margin-top: -0.7em;
	}
}
.rules-card__desc:last-child {
	margin-bottom: 0;
}
