html[lang="ru"] {
	.section-title.services__title {
		font-size: 2.1rem;
		margin-bottom: 2em;
	}
	.services-programming .services__title {
		font-size: 1.9rem;
	}
	.section-title {
		font-size: 2.1rem;
	}
}