/*
* Пример использования компонента кнопки
*/

:root {
  --fz-button: 1.2222222222222223rem;
  --fw-button: 700;
  // --lh-button: 1.6666666666666667;
  --lh-button: 1.4;

  --button-color: var(--c-text-on);
  --button-color-hover: var(--c-accent);
}

.button {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.4545454545454546em 0.45454545454545453em ;
  min-width: 23.833333333333332rem;//429px;
  letter-spacing: 0.03em;

  font-size: var(--fz-button);
  font-weight: var(--fw-button);
  line-height: var(--lh-button);
  text-align: center;
  text-transform: uppercase;

  border-radius: 1.1666666666666667rem;//21px;
  color: var(--button-color);
  --icon-color: var(--button-color);
  // background: var(--button-bg, transparent);

  cursor: pointer;
  transition: all 0.3s ease;
  @media (max-width: $tablet) {
    font-size: 1.02564rem;  
    min-width: initial;
    width: 100%;
    max-width: initial;
  }
}
.button__shade {
  content: "";
  position: absolute;
  top: 0.3333333333333333rem;
  left: 0;
  right: 0;
  display: block;
  width: #{'calc(100% - 2 * 0.5444444444444444rem)'};
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--button-shadow, red);
  border-radius: 1.1666666666666667rem;//21px;
  z-index: 1;
  pointer-events: none;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1.1666666666666667rem;//21px;
  pointer-events: none;
}
.button:before {
  background-image: var(--button-bg);
  z-index: 2;
}
.button:after {
  background-image: var(--button-bg-hover);
  opacity: 0;
  transition: opacity 0.3s ease-out;
  z-index: 3;
}
.button:hover:after {
  @media (any-hover:hover) {
    opacity: 1;
  }
}
.button-primary {
  --button-bg: radial-gradient(50% 50% at 50% 50%, #44C4FF 0%, #33B2EC 100%);
  --button-shadow: #2B93C3;
  --button-bg-hover: radial-gradient(50% 50% at 50% 50%, #5FCCFF 0%, #47C1FA 100%);
  @extend .button;
}
.button-secondary {
  --button-bg: linear-gradient(180deg, #FF42A4 0%, #C14B8F 100%);
  --button-shadow: #984474;
  --button-bg-hover: linear-gradient(180deg, #FF66B5 0%, #E15DA9 100%);;
  @extend .button;
}
.button-thirdly {
  @extend .button;
  --button-bg: radial-gradient(50% 50% at 50% 50%, #9934E1 0%, #7F37BB 100%);
  --button-bg-hover: radial-gradient(50% 50% at 50% 50%, #A840F2 0%, #8E3FCF 100%);
  color: var(--c-text-on);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.7777777777777778rem;
  padding: 1.0714285714285714em 0.7857142857142857em 1.6042857142857143em;
  border-radius: 1.2111111111111112rem;//21.8px;
  min-width: 9.88888888888889rem;//178px;
  line-height: initial;
  text-align: center;
  transition: all 0.3s ease-out;
  text-align: center;
  text-transform: uppercase;
  width: initial;
  padding-left: 2em;
  padding-right: 2em;
  white-space: nowrap;

  @media (max-width: $tablet) {
    font-size: 0.60824rem; //9.1236
    min-width: 5.666666666666667rem; 
    padding-top: 1.0719452847560174em;
    padding-bottom: 1.6440878600552413em;
  }
}
.button--wait {
  opacity: 0.5;
  pointer-events: none;
}
.button__text {
  position: relative;
  z-index: 4;
  pointer-events: none;
}
.button--success {
  --button-bg: linear-gradient(0deg, #5BCE58, #5BCE58), radial-gradient(50% 50% at 50% 50%, #44C4FF 0%, #33B2EC 100%);
  --button-bg-hover: linear-gradient(0deg, #5BCE58, #5BCE58), radial-gradient(50% 50% at 50% 50%, #44C4FF 0%, #33B2EC 100%);
  --button-shadow: #4FBA4C;
  pointer-events: none;
}


/*
  Swiper Buttons
 */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--c-text-on);
  font-size: 0.8888888888888888rem;
  display: block;
  width: 30%;
}

.swiper-button-prev {
  left: -5.5rem;
}
.swiper-button-next {
  right: -5.5rem;
}
.swiper-button-prev:after {
  transform: translateX(0%);
}
.swiper-button-next:after {
  transform: translateX(24%);
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  --size: 0.6666666666666666rem;
  max-width: var(--size);
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  background-color: #f8f8f8;
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.swiper .swiper-wrapper {
  margin-bottom: 1.7777777777777777rem;
}
.swiper-pagination-bullet-active {
  background: radial-gradient(50% 50% at 50% 50%, #44C4FF 0%, #33B2EC 100%);
}

.swiper-button-prev .swiper-button__icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
}
.swiper-button-next .swiper-button__icon {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-button-prev .swiper-button__icon,
.swiper-button-next .swiper-button__icon {
  fill: var(--bg-element);
  stroke: var(--c-text-regular);
  transition: var(--tr);
}
.swiper-button-prev:hover .swiper-button__icon,
.swiper-button-next:hover .swiper-button__icon {
  @media (any-hover:hover) {
    fill: var(--c-text-regular);
    stroke: var(--bg-element);
  }
}
/*
.button[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.button:active {
  @media (min-width: $minHover) {
    opacity: 0.6;
  }
}

.button__text {
  width: 100%;
  font-size: inherit;
}

.button__icon {
  display: block;
  --width: 1.2857142857142858em; //18
  width: var(--button-icon-size, var(--width));
  min-width: var(--button-icon-size, var(--width));
  max-width: var(--button-icon-size, var(--width));
  height: 1.4285714285714286em; //20
  background-color: transparent;
  fill: var(--icon-color);
  stroke: none;
  transition: all var(--tr) ease;
}
.button--icon-stroke .button__icon {
  fill: transparent;
  stroke: var(--icon-color);
}

.button--icon-left .button__icon {
  order: -1;
  margin-right: 0.57em;
}
.button--icon-right .button__icon {
  order: 5;
  margin-left: 0.57em;
}
.button__icon path {
  stroke: var(--button-color);
}
.button--icon-left ,
.button--icon-right {
  padding: 1.3571428571428572em 3.4285714285714284em; // 19 48
}

// Вариации кнопок
.button--primary {
  --button-bg: var(--bg-button-primary);
  --button-color: var(--c-text-on);
}
.button--primary:hover {
  @media (any-hover:hover) {
    --button-bg: var(--bg-button-secondary);
  }
}

.button--secondary {
  --button-bg: var(--bg-button-secondary);
  --button-color: var(--c-text-on);
}
.button--secondary:hover {
  @media (any-hover:hover) {
    border: 1px solid #EFF2F5;
    background: transparent;
    --button-color: var(--c-text-regular);
  }
}

.button--ghost {
  --button-bg: transparent;
  border-color: var(--bg-button-secondary);
}

.button--on:hover {
  @media (any-hover:hover) {
    --button-color: var(--c-text-on);
  }
}
*/