.link__text {
  line-height: inherit;
}
.link-tel .link__icon {
  width: 1.3333333333333333em;
  height: 1em;
}
.link-mail .link__icon {
  width: 1.3333333333333333em;
  height: 1.3333333333333333em;
}
