/*
  Секции
 */
.section {
  padding-top: 5.555555555555555rem; //120
  padding-bottom: 5.555555555555555rem; //120
  @media (max-width: $desktop-m) {
    padding-top: 6rem; //120
    padding-bottom: 6rem; //120
  }
  @media (max-width: $tablet) {
    padding-top: 3.285714285714286rem; //60
    padding-bottom: 3.285714285714286rem; //60
  }
}
.section .vertical-strings {
  z-index: 0;
}
.section--bg-grey {
  background-color: #F6F6F6;
}
.section--bg-grey:first-child {
  margin-top: -120px;
  border-top: 120px solid #f6f6f6;
}
.section--bg-grey:first-child .vertical-strings {
  top: -120px;
  height: #{'calc(100% + 120px)'};
}
.section-title {
  font-weight: 400;
  font-size: 2.5rem;//45px
  text-transform: uppercase;
  line-height: 1.05;
  letter-spacing: 0.02em;
  margin-bottom: 0.5em;
  @media (max-width: $tablet) {
    font-size: 1.3333333333333333rem;
    margin-bottom: 0.75em;
    line-height: 1.25;
  }
}
.section-desc {
}
.section-text--color {
  color: var(--c-accent);
}
.section-text--em {
  font-style: italic;
}
.section-text--bold {
  font-weight: 700;
}

.section-text--center {
  text-align: center;
}
.section-text--right {
  text-align: right;
}


.section-ul {
  font-size: 1rem;
  padding-left: 1.7222222222222223em;
  --color: var(--c-text-regular);
  color: var(--color);
  @media (max-width: $tablet) {
    padding-left: 1.322em;
  }
}
.section-ul li {
  position: relative;
  font-size: inherit;
  color: inherit;
  margin-bottom: 0.8888888888888888em;
  line-height: 1.45;
  letter-spacing: -0.03em;
  @media (max-width: $tablet) {
    margin-bottom: 0.6888888888888888em;
  }
}
.section-ul li:after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.7222222222222223em;
  display: block;
  --size: 1.3333333333333333em;
  max-width: var(--size);
  min-width: var(--size);
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  @include getmask('../img/common/ul-bullet.svg');
  @media (max-width: $tablet) {
     --size: 1.0666666666666667em;
     left: -1.322em;
     top: 0.1em;
  }
}
