/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

/*
  Библиотеки
 */ 
@import "./libs/aos";
@import "./libs/swiper";
// @import "./libs/fancybox";
// @import "./b_libs/bayan";
// @import "./libs/intlTelInput";
// @import "./libs/juxtapose";

/*
  Сброс CSS
 */ 
@import "./reset";

/*
  Базовые стили, шаблоны, заготовки
 */ 
@import "./variables";
@import "./base";
@import "./mixins";

/*
  Шрифты
 */ 
@include font(
  "Noto Sans",
  normal,
  300,
  "../resources/fonts/noto-sans/notosans-light"
);
@include font(
  "Noto Sans",
  normal,
  400,
  "../resources/fonts/noto-sans/notosans-regular"
);
@include font(
  "Noto Sans",
  normal,
  700,
  "../resources/fonts/noto-sans/notosans-bold"
);



html {
  // scrollbar-color: #000 transparent;
  // scrollbar-width: thin;
  --fz-modifier: 0.61644;
  font-size: #{'calc(var(--index) * var(--fz-modifier))'}; // 1920 — 18px
  @media (max-width: $desktop-l) {
    --fz-modifier: 0.759735;
  }
  // @media (max-width: 1500px) {
  //   font-size: 1.11111vw; //1440 16px
  // }
  @media (max-width: $desktop-s) {
    --fz-modifier: 0.69;
  }
  @media (max-width: $tablet) {
    --fz-modifier: 1.91939;
  }
  @media (max-width: $mobile-l) {
    --fz-modifier: 1.228714;
  }
  @media (max-width: 320px) {
    --fz-modifier: 1.47059;
  }
}
body {
  font-family: var(--ff-regular);
  font-weight: 400;
  line-height: 1.35;
  color: var(--c-text-regular);
  background-color: var(--bg-app);
  letter-spacing: initial;
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  // overflow: hidden;
}
.wrapper > .content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--w-container);
  padding-left: 0.6666666666666666rem;
  padding-right: 0.6666666666666666rem;
}
/*
.container-tight {
  max-width: #{'calc(var(--w-container) - 101px)'};
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $w-mobile) and (min-width: $mobile-l) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: $w-burger) {
    max-width: #{'calc(var(--w-container) - 60px)'};
  }
}
*/
input[type="search"]::-webkit-search-cancel-button {
  display: none;
  opacity: 0;
}

ol {
  counter-reset: ol;
}
ol > li {
  position: relative;
  list-style: none;
  padding-left: 1.2em;
  counter-increment: ol;
  margin-bottom: 0.2em;
}
ol > li::before {
  content: counter(ol)". ";
  position: absolute;
  left: -0.1em;
}
.ul-regular li {
  position: relative;
  list-style: none;
  padding-left: 1.2em;
  margin-bottom: 0.2em;
}
.ul-regular > li::before {
  content: "—";
  position: absolute;
  left: -0.1em;
}
.poppa__clsoer {
  background: rgba(0,0,0,0.1);
  border-radius: 1rem;
}


/*
  Общие стили проекта
 */ 
@import "./components";

/*
  Карточки
 */ 
// @import "./components/cards/";

/*
  Модальные окна
 */ 
// @import "./components/modals/";


/*
  Секции
 */ 
@import "./sections";

/*
  Стили для отдельных страниц
 */ 
@import "./pages/lang-ru";
